node_modules/
dist/
.cache/
coverage/
AGENTS.md
__test__/*
!__test__/
!__test__/_runner.ts
!__test__/leakage.test.ts
!__test__/01-toksic-galogen/
!__test__/01-toksic-galogen/**
!__test__/02-metanol-glikol/
!__test__/02-metanol-glikol/**
!__test__/03-chadlv/
!__test__/03-chadlv/**
!__test__/04-hep-d/
!__test__/04-hep-d/**
!__test__/05-bronhit-hron/
!__test__/05-bronhit-hron/**
